body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}


/* HEADER */
header {
  background-color: rgba(255,255,255, 0.4);
  border-bottom: 2px solid rgba(200, 200, 200, 0.2);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  color: #fff;
  text-align: center;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}
header h1 {
  margin: 0;
  font-size: 2.5em;
  color: rgb(0,0,0, 0.8);
}
header a {
  text-decoration: none;
  color: inherit;
}



/* CONTAINER */
.container {
   max-width: 800px;
  max-height: 600px;
  overflow-y: auto;
    width: fit-content;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  position: relative;
  margin-top: 10px;
  width: 80vw;
  height: 90vh;
}
.container h1 {
   margin: 0;
  font-size: 2.5em;
  color: rgb(0,0,0, 0.8);
  text-decoration: none;
}
.container img{
    position: absolute;
  bottom: 10px;
  right: 10px;
  width: 100px;
  height: 100px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  object-fit: cover;
  object-position: center;
}
.container h1 {
  margin-top: 0px;
  text-align: center;
}
.container h2 {
  text-align: center;
}

.container ul {
  text-align:  center ;
}

.container p {
  text-align: center;
}

/* SECTIONS */
.title,
.hobbies,
.contact-info,
.projectes,
.software,
.ctstory {
  margin-bottom: 10px;
}
.title p,
.contact-info p,
.ctstory p {
  font-size: 1.1em;
}

/* HOBBIES, PROJECTS, SOFTWARE, ARCHIVES */
.hobbies ul,
.projectes ul,
.software ul {
  list-style-type: none;
  padding: 0;
}
.hobbies li,
.projectes li,
.software li {
  padding: 3px 0;
  margin-bottom: 0;
}
.hobbies a,
.projectes a,
.archives a,
.contact-info a {
  text-decoration: none;
  color: #0000EE;
}
.projectes p,
.software p {
  font-size: 0.8em;
  margin-top: 1px;
}

/* DOWNLOAD & LINK BUTTONS */
.download-button,
.link-button {
  display: block;
  margin: 5px auto;
  padding: 8px 16px;
  font-size: 14px;
  color: #fff;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  text-align: center;
}
.download-button {
  background-color: #007bff;
}
.download-button:hover {
  background-color: #0056b3;
}
.link-button {
  background-color: #007bff;
  text-align: left;
}

/* TITLES */
.titles {
  display: none;
}
.titles h2 {
  color: #000;
  margin: 10px 0 0;
}
.titles img {
  display: block;
  margin: 0 auto;
  width: 90%;
}

/* OTHER ELEMENTS */
pre code {
  margin-top: -10px;
  display: block;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f4f4f4;
}
.copy-button {
  position: absolute;
  margin-left: 700px;
  margin-top: 7px;
  padding: 5px 10px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}
.copy-button:hover {
  background-color: #0056b3;
}

/* THEME SWITCH
.theme-checkbox {
  --toggle-size: 16px;
  appearance: none;
  width: 6.25em;
  height: 3.125em;
  background: linear-gradient(to right, #efefef 50%, #2a2a2a 50%) no-repeat;
  background-size: 205%;
  background-position: 0;
  transition: 0.4s;
  border-radius: 99em;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
  cursor: pointer;
  font-size: var(--toggle-size);
}
.theme-checkbox::before {
  content: "";
  width: 2.25em;
  height: 2.25em;
  position: absolute;
  top: 0.438em;
  left: 0.438em;
  background: linear-gradient(to right, #efefef 50%, #2a2a2a 50%) no-repeat;
  background-size: 205%;
  background-position: 100%;
  border-radius: 50%;
  transition: 0.4s;
}
.theme-checkbox:checked::before {
  left: calc(100% - 2.25em - 0.438em);
  background-position: 0;
}
.theme-checkbox:checked {
  background-position: 100%;
}

/* THEMES */
/* .dark-mode {
  background-color: rgba(0, 0, 0, 0.8);
}
.light-mode {
  background-color: rgba(255, 255, 255, 0.8);
}
.text-light {
  color: rgba(255, 255, 255, 0.8);
}
.text-dark {
  color: rgba(0, 0, 0, 0.8);
} */ */

/* MISC */
.carousel-item img {
  width: 40%;
  height: 40%;
  object-position: center;
}

