/* Global Styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background: linear-gradient(-45deg, #F29C11, #E94F37, #D17D3D, #F7C34C);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
    min-height: 100vh; /* Ensure body covers full viewport height */
    display: flex;
    flex-direction: column; /* Stack header and container vertically */
    align-items: center; /* Center content horizontally */
}

header {
    background-color: rgba(34, 34, 34, 0.8);
    color: #FFF;
    text-align: center;
    padding: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 100%; /* Ensure header spans full width */
    box-sizing: border-box; /* Include padding and border in the width */
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

.container {
    max-width: 800px;
    width: 100%; /* Ensure container scales to max-width */
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    position: relative; /* Ensure container is positioned relatively */
    margin-top: 20px; /* Add margin to separate from header */
}

.corner-image {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 100px; /* Set width and height to create a square */
    height: 100px;
    border: 2px solid #FFF; /* Add a white border */
    border-radius: 8px; /* Adjust border-radius to match container */
    object-fit: cover; /* Maintain aspect ratio of the image */
    object-position: center; /* Center the image within the square */
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.about-me {
    margin-bottom: 20px;
}

.about-me p {
    font-size: 1.1em;
}

.hobbies {
    margin-bottom: 20px;
}

.hobbies ul {
    list-style-type: none;
    padding: 0;
}

.hobbies li {
    padding: 5px 0;
}

.contact-info {
    margin-bottom: 20px;
}

.contact-info p {
    font-size: 1.1em;
    margin: 5px 0;
}
